*{
    font-family: 'Montserrat', sans-serif, serif;
}
body{
  text-align: center;
  background: url("https://c.pxhere.com/images/8c/78/40e243d8510805a3abc997d0e3b7-1433401.jpg!d");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  
}
.container_title{

    width: 200px;
    height: 50px;
    background-color: #0957ffbb;
    margin: 0 auto;
    border: 2px solid white;
}
h1,h3{
    color: white;
    margin: 0;
}
h2{
    color: black;
    text-transform: capitalize;
}
h3:hover{
    text-decoration:underline;
}
#container_home{
  text-align: center;
}
#listeProduits{
    display: flex;
    justify-content: center;
}
.produits{
    border: 2px solid white;
    margin: 5px;
    border-radius: 8px;
    background-color: #0957ffbb;
    
}
.produits > a {
    text-decoration: none;
}
.poster{
    width: 200px;
    height: 220px;
}
.cadreImg{
    background: white;
    background-size: 100%;
}
.price{
    color: white;
}
.price:hover{
    text-decoration: underline;
}
